
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>
</head>
<body>
    <h1>Get All Book</h1>
    <button class="btn-btn-primary">Click to Show Book</button>
</body>
</html>
