@model IEnumerable<BookStoreApp.Models.BookModel>



<div class="container">
    <h3 class="display-3">All Books</h3>
    <div class="row">
        @foreach (var book in Model)
        {
           
            <partial name="_BookThumbnail" model="@book" />

        }

    </div>
</div>