
@{
    ViewData["Title"] = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aboutus</title>
</head>
<body>
    <h2>Hello i am From About Us Page</h2>
</body>
</html>
