
@{
    Layout = "_Layout";
}

<div class=" container-fluid text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <div class="">
                    <h1>Welcome to BookStore Application</h1>
                </div>
                <div class="card-body">
                    When using button classes on <a>
                        elements that are used to trigger in-page functionality (like collapsing content),
                        rather than linking to new pages or sections within the current page, these links should be
                </div>
                <div class="">
                    <button class="btn btn-danger">Show Book</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 ">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/Card1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make title and make uup the bulk of the card's content.</p>
                    
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/Card3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/Card3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

